@import url('https://fonts.googleapis.com/css?family=Anton');
$Tblue: #0061ac;
$Tgreen: #2ecc40;
$maxScreen: 900px;

*{
  padding: 0px;
  margin: 0px;
}

html {
  height: 100%;
}

body {
  overflow-x: hidden;
  font-family: 'Anton', sans-serif;
  color: white;
  text-align: center;
  height: 100%;
  min-height: 450px;
  position: relative;
  &>div{
    height: 100%;
    &>div{
      height: 100%;
    }
  }
}

#leftD, #rightD{
  font-size: 50px;
  width: 50%;
  height: 100%;
  float: left;
  display: inline-block;
  transition: width 0.5s linear 0s;
}

#leftD{
    background: #33363b; //url('img/logo.png') no-repeat center center;
    position: relative;
  img{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 200px;
    margin-top: -100px;
    margin-left: -295px;
  }
}

#rightD{
  background: $Tblue;
  position: relative;
  overflow: hidden;
  img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

#centralBox{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 150px;
  width: 30%;
  background-color: #f1f1f1;
  opacity: 0.8;
  border-radius: 4px;
  min-width: 300px;
  &>div{
    color: #33363b;
    width:49.5%;
    height: 100%;
    float: left;
    h1{
      cursor: pointer;
      padding-top: 10px;
      a{
        color: inherit;
        text-decoration: none;
      }
    }
    img{
      display: none;
    }
  }
}

//ANIMATION NG
/* The starting CSS styles for the enter animation */
.lol.ng-enter {
  transition: all 0.3s linear;
  transition-delay: 0.1s;
  transform: translateX(100%) rotate(0deg) scale(0.1,0.1);
}

/* The finishing CSS styles for the enter animation */
.lol.ng-enter.ng-enter-active {
  transform: translateX(0%) rotate(0deg) scale(1,1);
}

/* now the element will fade out before it is removed from the DOM */
.lol.ng-leave {
  transition: all 0.3s linear;
  transform: translateX(0%) scale(1,1);
}
.lol.ng-leave.ng-leave-active {
  transform: translateX(-100%) scale(0.1,0.1);
}

@media only screen and (max-width: $maxScreen) {
  #leftD, #rightD{
    display: none;
  }
  #centralBox{
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translate(0%, 0%);
    opacity: 1;
    height: 100%;
    min-height: 450px;
    width: 100%;
    background-color: #f1f1f1;
    &>div{
      letter-spacing: 2px;
      border: 1px solid grey;
      width: 100%;
      height: 50%;
      float: left;
      position: relative;
      h1{
        cursor: pointer;
        padding-top: 10px;
        font-size: 50px;
        a{
          color: inherit;
          text-decoration: none;
        }
      }
      img{
        display: block;
        width: 60%;
        height:auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -10%);
      }
    }
    .p6{
      color: #F1F1F1;
      background-color: #33363B;
    }
    .portfolio-bg{
      color: #33363B;
      background: url('../../img/bg_small.png');
      background-size: cover;
      background-position: center;
    }
  }

}

@import "portfolio.scss";
@import "project.scss";
