#boxLeft{
  box-sizing: border-box;
  height: 100%;
  margin: 0px auto;
  width: 33.33%;
  float: left;
  .tail{
    overflow: hidden;
    border: 2px solid white;
    box-sizing: inherit;
    width: 100%;
    height: 50%;
    padding-top: 20px;
    float: left;
    position: relative;
    // cursor: pointer;
    h1{
      letter-spacing: 2px;
    }
  }
  .tail2{
    // position: fixed;
    overflow: hidden;
    border: 2px solid white;
    box-sizing: inherit;
    width: 100%;
    height: 50%;
    padding-top: 20px;
    float: left;
    position: relative;
    cursor: pointer;
    h1{
      letter-spacing: 2px;
    }
  }
}

#boxRight{
  box-sizing: border-box;
  height: 100%;
  margin: 0px auto;
  width: 66.66%;
  float: left;
  .tail{
    overflow: hidden;
    border: 2px solid white;
    box-sizing: inherit;
    width: 50%;
    height: 50%;
    padding-top: 20px;
    float: left;
    position: relative;
    // cursor: pointer;
    h1{
      letter-spacing: 2px;
    }
    img{
      cursor: pointer;
      position: absolute;
      top: 40%;
      left: 50%;
      margin-left: -40%;
      // margin-top: 20px;
      width: 80%;
      transition: top 0.3s ease  0s;
      &:hover{
        top:30%
      }
    }
  }
}

#back{
  background: $Tblue url('../../img/arrow.png') top no-repeat;
  background-size: 50% 50%;
  background-position: 50% 50%;
  position: relative;
  cursor: pointer;
}

#tproj{
  background: #2ecc40;
  position: relative;
}

#trproj{
  background: #a864a8;
  position: relative;
}

#techno{
  background: #662d91;
  position: relative;
  text-align: left;
  cursor: default !important;
  span{
    white-space: nowrap;
    font-size: 25px;
    cursor: pointer;
    // border: 2px solid grey;
    border-radius: 10px;
    padding: 5px 10px;
    margin-left: 10px;
    background: #501b78;
    line-height: 60px;
  }
}

#bproj{
  background: #299199;
  position: relative;
}

#brproj{
  background: #f7941d;
  position: relative;
}

#scroll{
  position: fixed;
  right: 20px;
  bottom: 20px;
  img{
    width: 50px;
  }
}

@keyframes blink {
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.2;
  }
  75% {
    opacity: 0.5;
  }
}
.blink {
  animation: blink 2s linear 0s infinite;
}
