#box{
  box-sizing: border-box;
  height: 100%;
  margin: 0px auto;
  .tail{
    overflow: hidden;
    border: 2px solid white;
    box-sizing: inherit;
    width: 33.33%;
    height: 50%;
    padding-top: 20px;
    float: left;
    position: relative;
    cursor: pointer;
    h1{
      letter-spacing: 2px;
    }
  }
}


#back{
  background: $Tblue url('../../img/arrow.png') top no-repeat;
  background-size: 50% 50%;
  background-position: 50% 50%;
  position: relative;
}

#tproj{
  background: #2ecc40;
  position: relative;
}

#trproj{
  background: #a864a8;
  position: relative;
}

#techno{
  background: #662d91;
  position: relative;
  text-align: left;
  span{
    font-size: 25px;
    cursor: pointer;
    // border: 2px solid grey;
    border-radius: 10px;
    padding: 5px 10px;
    margin-left: 10px;
    background: #501b78;
    line-height: 60px;
  }
}

#bproj{
  background: #f7941d;
  position: relative;
}

#brproj{
  background: $Tgreen;
  position: relative;
}

#scroll{
  position: fixed;
  right: 20px;
  bottom: 20px;
  img{
    width: 50px;
  }
}
