#boxLeft{
  box-sizing: border-box;
  height: 100%;
  margin: 0px auto;
  border: 0px;
  width: 33.33%;
  float: left;
  min-height: 450px;
  .tail{
    overflow: hidden;
    border: 2px solid white;
    box-sizing: inherit;
    width: 100%;
    height: 50%;
    min-height: 300px;
    padding-top: 20px;
    float: left;
    position: relative;
    // cursor: pointer;
    h1{
      letter-spacing: 2px;
    }
  }
  .tail2{
    // position: fixed;
    overflow: hidden;
    border: 2px solid white;
    box-sizing: inherit;
    width: 100%;
    height: 50%;
    padding-top: 20px;
    float: left;
    position: relative;
  }
}

#boxRight{
  box-sizing: border-box;
  height: 100%;
  margin: 0px auto;
  width: 66.66%;
  float: left;
  min-height: 450px;
  .tail{
    overflow: hidden;
    border: 2px solid white;
    box-sizing: inherit;
    width: 50%;
    height: 50%;
    padding-top: 20px;
    float: left;
    position: relative;
    a{
      span{
        div.loader{
          position: absolute;
          left: 0;
          right: 0;
          z-index: 1001;
          bottom: 20%;
          margin: auto;
          width: 80px;
          height: 80px;
          background: url('../../img/default.svg') no-repeat;
          background-size: contain;
        }
        img.thumb-mini{
          cursor: pointer;
          position: absolute;
          top: 40%;
          left: 50%;
          margin-left: -40%;
          // margin-top: 20px;
          width: 80%;
          transition: top 0.3s ease  0s;
          &:hover{
            top:30%
          }
        }
      }
    }
    img.angular{
      width: 10%;
      height: auto;
      position: absolute;
      top: 10px;
      right: 10px;
    }
    h1{
      letter-spacing: 2px;
    }
    p{
      font-family: 'Ubuntu', sans-serif;
    }
  }
}

#back{
  background: $Tblue url('../../img/arrow.png') top no-repeat;
  background-size: 50% 50%;
  background-position: 50% 50%;
  position: relative;
  cursor: pointer;
}

#tproj{
  background: #2ecc40;
  position: relative;
}

#trproj{
  background: #a864a8;
  position: relative;
}

#techno{
  letter-spacing: 2px;
  background: #662d91;
  position: relative;
  text-align: center;
  input{
    margin-top: 20px;
    width: 80%;
    height: 50px;
    font-size: 25px;
    padding-left: 10px;
  }
}

#bproj{
  background: #299199;
  position: relative;
}

#brproj{
  background: #f7941d;
  position: relative;
}

#scroll{
  position: fixed;
  right: 20px;
  bottom: 20px;
  img{
    width: 50px;
  }
}

.blink {
  animation: blink 2s linear 0s infinite;
}

@keyframes blink {
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.2;
  }
  75% {
    opacity: 0.5;
  }
}

@media only screen and (max-width: $maxScreen) {
  #boxLeft{
    display: none;
  }
  #boxRight{
    width: 100%;
  }
  #boxRight{
    box-sizing: border-box;
    height: 100%;
    margin: 0px auto;
    width: 100%;
    float: left;
    .tail{
      overflow: hidden;
      border: 2px solid white;
      box-sizing: inherit;
      width: 100%;
      height: 50%;
      padding-top: 20px;
      float: left;
      position: relative;
      // cursor: pointer;
      h1{
        letter-spacing: 2px;
      }
      img{
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -40%;
        // margin-top: 20px;
        width: 80%;
        transition: top 0.3s ease  0s;
        &:hover{
          top:30%
        }
      }
    }
  }
}
